@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    box-sizing: border-box;
    font-family: Outfit;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

#container {
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 40px;
    background-color: hsl(0, 0%, 100%);
}

#container #qr-image {
    padding: 20px;
    border-radius: 40px;
}

#container #heading {
    font-weight: 700;
    padding: 20px;
    margin: auto;
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size: 25px;
} 

#container #description {
    font-weight: 400;
    padding: 0px 20px;
    color: hsl(220, 15%, 55%);
    margin: auto;
    margin-bottom: 50px;
    font-size: 15px;
    width: 250px;
    text-align: center;
}


 



